* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

body {
    background-image: url(../assets/background-blue.svg);
    background-repeat: repeat;
    background-position: -715px;
    /* background-position-x: bottom;
    background-position-y: -715; */
    background-attachment: scroll;
}

body * {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    width: 100%;
    margin-bottom: 5%;
    height: 15%;
}

#app {
    width: 100%;
    height: 100%;
}

#cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    justify-content: center;
    border: solid #e6a800;
    border-width: 0 0 2px 0;
    background-color: #26292e;
    /* border-radius: 25px; */
    padding-bottom: 40px
}

.card h2 {
    color: #e6a800;
    align-items: center;
    padding: 5px 10px;
    margin: 20px auto;
    border: 1px solid #e6a800;
    width: 160px;
    border-radius: 15px;
}

.card span {
    color: white;
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 14px;
}

.align-times {
    width: 100%;
    padding: 15px;
}



.align-times ul {
    display: flex;
    flex-direction: column;
    gap: 45px;
    border: 1px solid white;
}

.align-times li {
    width: 300px;
    margin: 0 auto;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid orange; */
}

.align-times li + li {
    padding-top: 45px;
}

.align-times img {
    width: 20%;
}

li {
    list-style: none;
}